body{
	background-color: dimgray;
}
#principal{
	background-color: darkgray;
	height:900px;
	margin:auto ;
	width: 95%;
	border-style: solid;
	border-width: 2px;
}
#menu{
	height: 17%;
	width: 100%;
	border-bottom : 2px solid black;

}
#menuTable{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}
td{
	border-collapse: collapse;
	border: 1px solid black;
	height:33.3%; 
	width:10%;
	text-align: center;
}
#displayBox{
	height: 83%;
	width: 100%;
	display: flex;
}
#displayBoxG{
	display: table-cell;
	height: 100%;
	width: 83%;
}
#displayBoxGHeader{
	height: 15%;
	width: 100%;
	display: flex;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
#displayBoxGBody{
	height: 85%;
	width: 100%;
	border-right: 2px solid black;
}
#displayBoxD{
	display: table-cell;
	height: 100%;
	width: 17%;
	position: inherit;
}

#displayBoxDHeader{
	height: 15%;
	width: 100%;
	border-bottom: 2px solid black;
}

#displayBoxDBody{
	height: 85%;
	width: 100%;
}
.buttonHeaderG {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9a9a9), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #a9a9a9 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #a9a9a9 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #a9a9a9 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #a9a9a9 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #a9a9a9 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#dfdfdf',GradientType=0);
	background-color:#a9a9a9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #696969;
	display:inline-block;
	cursor:pointer;
	color:#696969;
	font-family:Verdana;
	font-size:15px;
    width: 25%;
    height: 97%;
    display: table-cell;
	padding:26px 46px;
	text-decoration:none;
	text-shadow:0px 1px 50px #ffffff;
}
.buttonHeaderG:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #a9a9a9));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #a9a9a9 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #a9a9a9 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #a9a9a9 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #a9a9a9 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #a9a9a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#a9a9a9',GradientType=0);
	background-color:#dfdfdf;
}
.buttonHeaderG:active {
	position:relative;
	top:1px;
}
.tp {
	position: relative;
	width: 130px; 
	height: 75.06px;
	background-color: #a264cc;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.tp:before,
.tp:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
}

.tp:before {
  bottom: 100%;
  border-bottom: 37.53px solid #a264cc;
}

.tp:after {
  top: 100%;
  width: 0;
  border-top: 37.53px solid #a264cc;
}

/*button{
	-moz-box-shadow:inset 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 0px 0px 0px #3dc21b;
	box-shadow:inset 0px 0px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0baa8d), color-stop(1, #099178));
	background:-moz-linear-gradient(top, #0baa8d 5%, #099178 100%);
	background:-webkit-linear-gradient(top, #0baa8d 5%, #099178 100%);
	background:-o-linear-gradient(top, #0baa8d 5%, #099178 100%);
	background:-ms-linear-gradient(top, #0baa8d 5%, #099178 100%);
	background:linear-gradient(to bottom, #0baa8d 5%, #099178 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0baa8d', endColorstr='#099178',GradientType=0);
	background-color:#0baa8d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:4px solid #10f7cd;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
    width: 25%;
    height: 100%;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	display: table-cell;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #099178), color-stop(1, #0baa8d));
	background:-moz-linear-gradient(top, #099178 5%, #0baa8d 100%);
	background:-webkit-linear-gradient(top, #099178 5%, #0baa8d 100%);
	background:-o-linear-gradient(top, #099178 5%, #0baa8d 100%);
	background:-ms-linear-gradient(top, #099178 5%, #0baa8d 100%);
	background:linear-gradient(to bottom, #099178 5%, #0baa8d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#099178', endColorstr='#0baa8d',GradientType=0);
	background-color:#099178;
}
button:active {
	position:relative;
	top:1px;
}/* Hexagones */

#woodHexagon {

}
#stoneHexagon {

}
#ironHexagon {

}
#carboneHexagon {

}
#petroleumHexagon {

}
#ironHexagon {

}
